html {
  max-width: 100%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #36325d;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}
.white {
  background-color: #fff;
}
.left {
  text-align: left;
}
.first {
  margin-top: 75px;
  margin-bottom: 75px;
}
.last {
  margin-bottom: 85px;
}
/**
 * Common
 */

@media (min-width: 1200px) {
  .container {
    width: 1010px;
  }
}

@media (min-width: 1200px) {
  .container-full {
    width: 1010px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: 0.8px;
  color: #36325d;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 29px;
  margin-bottom: 33px;
}
h2:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 0;
  width: 160px;
  margin-left: -80px;
  border: 0;
  border-top: 1px solid;
}

.btn {
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
  line-height: 0.8;
  padding: 16px 22px;
  letter-spacing: 0.5px;
  height: 50px;
}
.btn-default {
  background: none;
  color: #f5f7f9;
  border-color: #f5f7f9;
}
/*  */
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:focus,
.btn-default:hover {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background-color: #fff;
}
.btn-default:focus,
.btn-default:hover {
  background-position: 0;
}
.btn-primary {
  background: #e7ca15;
  color: #3c30e7;
  font-weight: 900;
  padding: 19px 36px;
  border: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover {
  background: #ffcc00;
  color: #3d30e7;
  box-shadow: #36325d 0px 2px 10px;
  -moz-box-shadow: #36325d 0px 2px 10px;
}
.btn-primary:disabled {
  background-color: #e5e3e3;
  color: #c4c4c4;
}

.row.header {
  margin-bottom: 40px;
}

.carousel-container {
  padding-top: 52px;
  padding-bottom: 210px;
  position: relative;
  overflow: hidden;
}
.carousel-control {
  background: none !important;
  width: 30px;
  opacity: 1 !important;
}
.Fill-4563 {
  width: 14px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -15px;
  margin-left: -7px;
}
.Fill-4563.left {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.carousel-indicators {
  bottom: -200px;
  margin-bottom: 0;
}
.carousel-indicators li {
  border-color: #3d30e7;
  margin-right: 10px;
}
.carousel-indicators .active {
  background: #3d30e7;
  margin-right: 10px;
  margin: 1px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  height: 365px;
  margin: 0 auto;
}
.carousel-caption {
  top: initial;
  left: 0;
  right: 0;
  bottom: -180px;
  padding: 0;
  color: #36325d;
  text-shadow: none;
  height: 150px;
}
.funktioniert .carousel .num {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -447px;
}

#dashboard-features-carousel > div > div {
  padding: 20px 0;
}
#dashboard-features-carousel > div > div > p {
  padding: 20px 0;
}

/**
* iOS fix
*/
div.ios-fix-container,
div.container.top-navigation.ios-fix-container {
  padding-right: 0px;
  padding-left: 0px;
}
div.ios-fix-top-links {
  margin-right: 15px;
}
div.ios-fix {
  margin-left: 15px;
}
/**
 * Navbar
 */

.navmenu {
  display: none;
}
.navbar-close-zone {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1029;
  display: none;
}

.navbar {
  height: 45px;
  min-height: auto;
  background: initial;
  z-index: 5;
}
.navbar-header {
  width: 100%;
}
.navbar-brand {
  height: 45px;
  padding: 0 15px;
}
.logo {
  width: 164px;
  height: 45px;
  object-fit: contain;
}
.navbar-toggle {
  float: left;
  margin: 2px 0 7px 15px;
  padding: 7px 10px;
}
.navbar-toggle img {
  width: 20px;
  height: 24px;
}
.navbar-toggle .icon-bar {
  width: 18px;
  height: 4px;
  border-radius: 3px;
  background: #f4f6f4;
}
.navbar-toggle-fix {
  margin-top: 0px;
  height: 45px;
}
.top-links {
  display: flex;
  position: relative;
  justify-content: flex-end;
  min-width: 150px;
}
.top-links .btn {
  line-height: 16px;
}

.top-links-left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.top-links-left > span {
  color: #f5f7f9;
  display: flex;
  align-items: center;
  position: relative;
}
.Combined-Shape {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-top: -1px;
}
.telephone {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-transform: uppercase;
  display: block;
  position: relative;
  text-align: left;
}
.telephone a {
  color: #f5f7f9;
  font-size: 14px;
}
.top-links-left > a {
  color: #f5f7f9;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#funktioniert-slider {
  margin-bottom: 70px;
  padding-bottom: 20px;
}
@media all and (min-width: 768px){
  .funktioniert-carousel-items .box > div {
    height: 90px;
  }
}

/**
 * Jumbotron
 */
#image-wrapper {
  height: 100%;
  width: 100%;
}
.svg-background,
.svg-image {
  clip-path: url("#jumbotron-content-clip");
}
svg.clip-svg {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}
#svg-1 {
  left: 0px;
  top: 0px;
}
#svg-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jumbotron {
  height: 770px;
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 0;
  background-color: transparent;
  padding-top: 0;
}
.jumbotron-content {
  padding-top: 10px;
  height: 770px;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
}
.jumbotron.partner.jobs {
  height: 450px;
}
.jumbotron.partner {
  height: 600px;
  overflow: hidden;
}
.jumbotron-container-fix {
  padding-top: 10px;
}
.jumbotron > .container {
  z-index: 1;
  position: relative;
}
.partner_bg {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
}
.partner-gradient.jobs {
  height: 450px;
}
.partner-gradient {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background-image: linear-gradient(101deg, #3d30e7 24%, rgba(48, 139, 252, 0));
  width: 100%;
  height: 600px;
}
.woman_bg {
  position: absolute;
  z-index: 0;
  width: 493px;
  height: 619px;
  left: 50%;
  bottom: 56px;
}
.jumbotron .mask {
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 166px;
  left: 50%;
  margin-left: -720px;
  z-index: 1;
}
.jumbotron .mask span {
  display: block;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  clip-path: url(#myClip);
}
.jumbotron .mask:before,
.jumbotron .mask:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -3000px;
  width: 3000px;
  height: 100%;
  background: #f4f4f4;
}
.jumbotron .mask:after {
  left: 100%;
  margin-left: 0;
}

.jumbotron h3 {
  /*width: 376px;*/
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
  margin-top: 150px;
}
.jumbotron h1 {
  width: 564px;
  height: 120px;
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 1.7px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 36px;
}
.jumbotron .intro-partner.jobs {
  margin-top: 100px;
}
.jumbotron .intro-partner.faq {
  margin-top: 100px;
  height: 168px;
  font-size: 39px;
  line-height: 1.44;
  letter-spacing: 1.4px;
}
@media (max-width: 968px) {
  .jumbotron.partner.jobs .partner_bg {
    right: -250px !important;
    left: auto;
  }

  .jumbotron.partner.jobs .partner-gradient {
    background-image: linear-gradient(101deg, #3d30e7 10%, rgba(48, 139, 252, 0.4))
  }
}
@media (max-width: 768px) {
  .jumbotron .intro-partner.faq {
    font-size: 32px;
    line-height: 1.44;
  }
}
@media (max-width: 414px) {
  .jumbotron.partner.jobs .partner_bg {
    right: -450px !important;
    left: auto;
  }

  .jumbotron.partner.jobs .partner-gradient {
      background-image: linear-gradient(101deg, #3d30e7 40%, rgba(48, 139, 252, 0.6))
  }
}
.jumbotron .intro-partner {
  margin-top: 150px;
  text-transform: uppercase;
}
.jumbotron .intro-help {
  margin-top: 150px;
  text-transform: uppercase;
  font-size: 39px;
}
.tuev-top {
  height: 50px;
}
.ekomi-top {
  height: 60px;
}
.bmwi-top {
  height: 50px;
  background-color: #fff;
  padding: 4px;
}
.tuev-top-mobile {
  height: 45px;
}
.ekomi-top-mobile {
  height: 50px;
}
.bmwi-top-mobile {
  height: 45px;
  background-color: #fff;
  padding: 4px;
}
.jumbotron-logos-mobile > img:not(:last-child) {
  margin-right: 20px;
}
.jumbotron-logos > img:not(:last-child) {
  margin-right: 25px;
}
.ekomi-widget-container {
  position: relative;
  box-sizing: border-box;
  transform: scale(0.7);
  transform-origin: 0% 50%;
  top: -20px;
  min-width: 230px;
}
.ekomi-widget-container .tuv__wrapper {
  margin: 0 !important;
  min-width: 320px !important;
}
.ekomi-widget-container .h1,
.ekomi-widget-container h1 {
	font-size: 22px !important;
	margin-top: 2px !important;
}

.payback-box {
  border-left: 3px solid #fff;
  padding-left: 20px;
  float: left;
  display: block;
  color: #fff;
  white-space: nowrap;
  font-weight: 300;
}
.payback-box img {
  margin-left: 10px;
  max-width: 160px;
  display: inline-block;
}
.jumbotron .jumbotron-header {
  margin-top: 70px;
  margin-bottom: 30px;
  height: auto;
  font-size: 36px;
}
.jumpbotron-header-container {
  color: #fff;
  max-width: 600px;
  padding-bottom: 20px;
}
.payback .jumbotron-logos {
  margin-top: 60px;
}
.payback-img-one {
  margin-top: -140px;
}
.payback-img-two {
  margin-top: -90px;
  margin-right: -40px;
}
.payback-img-four {
  margin-top: -20px;
  max-height: 550px;
}
.payback-img-five {
  max-height: 400px;
  max-width: 370px;
}
@media (max-width: 991px) {
  .payback-img-one {
    margin-top: 40px;
  }
  .payback-img-two {
    margin-top: 0;
  }
  .payback-img-four {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .rated-on {
    margin-top: -265px !important;
  }
  nav:not(#myNavmenu) .sub-title {
    display: block;
    font-weight: bolder;
    color: #000 !important;
    margin: 0 !important;
  }
  .ekomi-widget-container {
    top: auto;
    transform-origin: 50% 50%;
  }
  .payback-box {
    white-space: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: -7px;
  }
  .payback-box img {
    /*width: 120px*/
    margin-left: 0;
    margin-top: 6px;
  }
  .jumbotron.payback {
    height: auto;
    min-height: 500px;
  }
  .payback.jumbotron > .container {
    height: auto;
    padding-bottom: 20px;
  }
  .jumbotron .jumbotron-header {
    font-size: 28px;
    margin-top: 90px;
  }
  .pointee-header {
    margin-top: 20px;
    margin-bottom: -30px;
  }
  .payback-img-one {
    margin-top: 0;
    max-height: 400px
  }
  .payback-img-two {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px
  }
  .payback-img-three {
    margin-top: 0;
    max-height: 400px
  }
  .payback-img-four {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px
  }
}
@media (max-width: 320px) {
  .payback .navbar-brand .logo {
    width: 100px;
  }
  .jumbotron .jumbotron-header {
    font-size: 26px;
  }
}
.jumbotron-logos {
  margin-top: 60px;
}
.jumbotron-980 {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -70px;
  z-index: 5;
}

/**
 * Was macht zasta
 */
.was-macht-zasta,
.container.main-content {
  margin-top: 98px;
}
.was-macht-zasta h2,
.container.main-content h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: 0.9px;
  /*            margin-top: 30px;*/
  padding-bottom: 38px;
  color: #3c30e7;
}
.was-macht-zasta h2:after,
.container.main-content h2:after {
  left: 0;
  margin-left: 0;
}
.was-macht-zasta p,
.container.main-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.8px;
  text-align: left;
  color: #36325d;
}

.Path-5 {
  margin-top: 70px;
  height: 50px;
  background-image: url(../img/path-5.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 984px 50px;
  margin-top: 85px;
  position: relative;
}

/**
 * Mit zasta
 */
.mit-zasta {
  margin-top: 98px;
}
@media (min-width: 768px) {
  .mit-zasta .row .col-sm-4:first-child {
    padding-left: 15px;
  }
  .mit-zasta .row .col-sm-4 {
    padding-left: 11px;
    padding-right: 11px;
  }
  .mit-zasta .row .col-sm-4:last-child {
    padding-right: 15px;
  }
}
.Fill-1543 {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: inline-block;
}
.mit-zasta .box {
  background-color: #f5f7f9;
  box-shadow: 0 2px 4px 0 #c5c5c5;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding: 0 20px 41px;
}
.mit-zasta .header-icon {
  width: 79px;
  height: 93px;
  border-radius: 0 0 100px 100px;
  background-color: #3c30e7;
  display: block;
  margin: 0 auto;
  padding-top: 22px;
}
.mit-zasta .title {
  display: block;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  margin-top: 21px;
  margin-bottom: 11px;
  color: #3c30e7;
  font-weight: normal;
}
.Group-6 {
  width: 33.6px;
  height: 40px;
  /*position: absolute;*/
  z-index: 100;
  /* top: 0; */
  bottom: 45px;
  left: 0;
  right: 0;
  /* text-align: center; */
  margin: 0 auto;
  object-fit: contain;
}
.Group-8 {
  width: 30.4px;
  height: 40px;
  object-fit: contain;
}
.Group-10 {
  width: 40.8px;
  height: 40px;
  object-fit: contain;
}

.benefit {
  padding-top: 20px;
}
.benefit-1 img {
  height: 90px;
}

.benefit-2 img {
  height: 90px;
}

.benefit-3 img {
  height: 90px;
}

/**
 * Unser zasta
 */
.unser-zasta {
  margin-top: 87px;
}
.Group-7 {
  height: 136px;
  width: 326px;
}
.unser-zasta .sub-title {
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
.unser-zasta h2 {
  font-weight: 900;
  color: #3c30e7;
  margin-top: 30px;
  padding-bottom: 0;
}
.unser-zasta h2:after {
  display: none;
}
.unser-zasta p {
  max-width: 574px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/**
 * Funktioniert
 */
.funktioniert {
  margin-top: 87px;
}
.Group-15 {
  width: 36px;
  height: 48px;
}
.funktioniert .box {
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  position: relative;
  padding-bottom: 49px;
}
.funktioniert .box:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 0;
  width: 100px;
  margin-left: -50px;
  border: 0;
  border-top: 1px solid;
}
.funktioniert .num {
  width: 79px;
  height: 53px;
  border-radius: 100px 100px 0 0;
  display: block;
  margin: 0 auto;
  background-color: #a2a0b3;
  font-size: 30px;
  font-weight: 900;
  color: #f4f4f4;
  padding-top: 8px;
}
.funktioniert .img {
  display: block;
  margin-bottom: 69px;
}
.funktioniert .img img {
  margin: 0 auto;
}
.funktioniert .title {
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  min-height: 50px;
}
@media all and (max-width: 767px) {
  .funktioniert .img {
    margin-bottom: 25px;
  }
  .funktioniert .title {
    min-height: 0;
  }
  .funktioniert .box {
    padding-bottom: 30px;
  }
}
.Group-29,
.Group-30,
.Group-24 {
  width: 215px;
  height: 444px;
}
.funktioniert .link-register {
  margin-top: 30px;
}

/**
 * Video
 */
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.video {
  margin-top: 120px;
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.video:before {
  content: "";
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  background-image: linear-gradient(115deg, #3d30e7 10%, rgba(48, 139, 252, 0));
}
.embed-responsive-16by9 {
  overflow: visible;
}
.video .content {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.video h2 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1.3px;
  color: #f4f4f4;
  padding: 0;
  margin: 0;
  text-transform: initial;
}
.video h2:after {
  display: none;
}
.Group-13 {
  width: 110px;
  height: 110px;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.vimeo-video {
  margin-top: 85px;
}
.video-header-img {
  width: 250px;
}
.vimeo-video .row.header {
  margin-bottom: 0;
  padding: 0 20px;
}
.video-wrap {
  background: url("../img/svg/ZASTA_video-screen-bg.svg") no-repeat center top;
  background-size: 100%;
  padding: 165px 18px 80px 48px;
  margin-top: -140px;
}

.video-screen {
  border: 2px solid #3c30e7;
  border-radius: 30px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

@media all and (max-width: 991px) {
  .video-wrap {
    margin-top: -80px;
    padding: 115px 18px 70px 30px;
  }
  .header-3-step h2 {
    max-width: 460px;
    margin: 20px auto 0;
  }
}

@media all and (max-width: 768px) {
  .video-wrap {
    padding-top: 16.5%;
    padding-left: 5%;
    margin-top: -10%;
  }
  .video-screen {
    border-radius: 15px;
  }
}

@media all and (max-width: 374px) {
  .video-wrap {
    background: none;
    padding: 0 !important;
    margin-top: 30px;
  }
  .video-screen {
    border: none;
    border-radius: 0;
    overflow: visible;
  }
}

@media all and (max-width: 768px) {
  .video-wrap {
    padding-top: 16.5%;
    padding-left: 5%;
  }
  .video-screen {
    border-radius: 15px;
  }
}

/**
 * Dashboard
 */
.dashboard {
  margin-top: 79px;
}
.Group-4 {
  width: 53px;
  height: 48px;
  object-fit: contain;
}
.dashboard h3 {
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #3c30e7;
  text-transform: uppercase;
  margin-top: 40px;
}
.dashboard h2 {
  width: 480px;
  text-transform: initial;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.13;
  letter-spacing: 1.1px;
  color: #3c30e7;
  margin: 0 auto;
  padding: 0 10px;
}
.dashboard h2:after {
  display: none;
}
.Path-51 {
  height: 50px;
  background-image: url(../img/path-51.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 450px 50px;
  margin-top: 65px;
  position: relative;
}
.dashboard-features {
  margin-top: 84px;
  position: relative;
}
.feature > img {
  width: 50px;
  height: 50px;
}
.feature .curve {
  width: 115px;
}
.dashboard .row:nth-child(1) > img {
  width: 80px;
  height: 80px;
}
.funktioniert-header-img {
  width: 80px;
  height: 80px;
}
.zasta-coin .num {
  background-color: #3c30e7;
}
.zasta-coin .num img {
  width: 35px;
  margin: 3px auto 0;
}
.Group-34 {
  width: 215px;
  height: 444px;
  object-fit: contain;
}
.Group-14 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.Group-27 {
  width: 24px;
  height: 30px;
  object-fit: contain;
}
.Group-11 {
  width: 29.1px;
  height: 30px;
  object-fit: contain;
}
.Group-9 {
  width: 30.5px;
  height: 30px;
  object-fit: contain;
}
.feature {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 227px;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #3c30e7;
  display: block;
}
.dashboard-features .icon {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.feature .curve {
  position: absolute;
  top: 109px;
  right: -109px;
}
.feature-1 {
  margin-top: -143px;
  margin-left: -454px;
}
.feature-2 {
  margin-top: 66px;
  margin-left: -462px;
}
.feature-2 .curve {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  top: -3px;
  right: -119px;
}
.feature-3 {
  margin-left: 237px;
  margin-top: -232px;
}
.feature-3 .curve {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  top: 73px;
  left: -124px;
}
.feature-4 {
  margin-top: 69px;
  margin-left: 233px;
}
.feature-4 .curve {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: FlipH FlipV;
  -ms-filter: "FlipH FlipV";
  top: 14px;
  left: -117px;
}

.dashboard .carousel-container {
  padding-bottom: 170px;
}
.carousel-container .dashboard-features {
  margin-top: 0px;
}
.dashboard-features .carousel-inner > .item > a > img,
.dashboard-features .carousel-inner > .item > img {
  height: 395px;
  width: initial;
}
.dashboard-features .carousel-caption {
  bottom: -139px;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: #3c30e7;
  height: 140px;
}
.dashboard-features .carousel-caption .icon {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 13px;
}
.dashboard-features .carousel-indicators {
  bottom: -170px;
}

.dashboard .link-register {
  margin-top: 74px;
}
.Path-51.bottom {
  margin-top: 39px;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
/**
 * Mehr erfahren
 */
.mehr-erfahren {
  margin-top: 106px;
  margin-bottom: 82px;
}

.mehr-erfahren h2 {
  font-weight: 900;
  color: #3c30e7;
  margin-top: 30px;
  padding-bottom: 38px;
}
.mehr-erfahren p {
  max-width: 816px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.mehr-erfahren hr {
  width: 155.3px;
  border: solid 1px #3c30e7;
}
.mehr-erfahren a {
  width: 311px;
  height: 55px;
  font-size: 16px;
  padding: 21px 36px;
}
#vielen-dank-fr-ihre {
  max-width: 647.2px;
  line-height: 1.56;
  letter-spacing: 0.8px;
}
/**
 * Demo
 */
.demo {
  padding-top: 156px;
}
.demo h3 {
  font-size: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.9px;
  text-align: left;
  color: #36325d;
  margin-top: 0;
  margin-bottom: 18px;
}
.demo > .row {
  padding-bottom: 82px;
}
/**
 * Testimonials
 */
.testimonials {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
.testimonials,
.testimonials .row,
.testimonials .col-md-12,
.testimonials .carousel,
.testimonials .carousel-inner,
.testimonials .item,
.testimonials .item .row,
.testimonials .item .row .col-md-12 {
  margin: 0 !important;
  padding: 0 !important;
  height: 650px;
}
#quote-carousel .col-md-12 {
  position: inherit;
}
.testimonials img {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}
.testimonials .partner-testimonials {
  position: absolute;
  z-index: -9998;
  background-image: linear-gradient(101deg, #3d30e7 24%, rgba(48, 139, 252, 0));
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
}
.testimonials h3 {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: 0.9px;
  text-align: left;
  color: #f4f4f4;
  margin-top: 121px;
  margin-left: 228px;
}
.testimonials p {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.7px;
  text-align: left;
  color: #f4f4f4;
  margin-top: 18px;
  margin-left: 228px;
  width: 396px;
}
.testimonials small {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  color: #f4f4f4;
  margin-top: 18px;
  margin-left: 228px;
  display: block;
}
/* indicator position */
.testimonials .carousel-indicators {
  bottom: 28px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: transparent;
  border-color: #fff !important;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #fff;
  height: 10px;
  width: 10px;
  margin-bottom: 1px;
}
/**
* Oft gestellte Fragen
*/
.oft {
}
.oft h2 {
  font-size: 24px;
  font-weight: 900;
  color: #3c30e7;
  padding-bottom: 38px;
}
.oft h3 {
  font-size: 18px;
}
.oft p {
  max-width: 816px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.oft hr {
  width: 155.3px;
  border: solid 1px #3c30e7;
  margin-top: 57px;
}
.oft .oft-title {
  margin-top: 75px;
}
/**
 * Contact
 */
.contact {
  width: 816px;
  background-color: #fff;
  margin-top: 69px;
}
.margin {
  padding-top: 26px;
}
.contact h2 {
  font-size: 20px;
  font-weight: 900;
  color: #3c30e7;
  padding-bottom: 38px;
  margin-bottom: 0;
  margin-top: 63px;
}
.contact p {
  max-width: 647px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin: 0 auto;
  margin-bottom: 81px;
  margin-top: 38px;
}
.contact hr {
  width: 155.3px;
  border: solid 1px #3c30e7;
  margin-top: 12px;
}
.contact sup {
  vertical-align: sub;
  color: #e73030;
}
.contact label {
  ont-family: Lato;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  color: #a5b3c4;
  text-transform: uppercase;
  margin-bottom: 0;
}
.contact input,
.contact select {
  height: 42px;
  border-radius: 3px;
  border: solid 1px #d1dae3;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #36325d;
}
.contact .button {
  margin-top: 80px;
  margin-bottom: 90px;
}
.contact select {
  background-image: url(../img/path-82.png);
  background-image: image-set(url(../img/path-82%402x.png) 2x, url(../img/path-82%403x.png) 3x);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact .inputs {
  width: 312px;
  margin: 0 auto;
}
.contact form {
  margin: 0 71px;
}
/**
 * Job
 */
p.job {
  max-width: 648px;
  margin-top: 33px;
}
.cart {
  display: block;
  width: 311px;
  height: 170px;
  background-color: #f5f7f9;
  box-shadow: 0 2px 4px 0 #c5c5c5;
  margin: 0 auto;
  padding: 5px 15px;
  margin-top: 34px;
  margin-bottom: 12px;
}
.cart:hover {
  background-color: #e7ca15;
  text-decoration: none;
}
.job h2 {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: none;
  margin-bottom: 12px;
  font-weight: normal;
}
.job hr {
  width: 121px;
  margin: 0;
}
.job p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 13px;
}
.job a {
  padding: 0;
}
/**
 * Help
 */
p.help {
  max-width: 648px;
  margin-top: 33px;
}
.help img {
  margin-top: 30px;
}
.help h2 {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  text-transform: none;
  margin-bottom: 12px;
}
.help hr {
  width: 121px;
}
.help p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 13px;
}
/**
 * Footer
 */
.footer {
  margin-top: 177px;
  color: #f4f4f4;
  position: relative;
  width: 100%;
}
.footer.partner {
  margin-top: 99px;
}
.footer:before {
  content: "";
  height: 100%;
  z-index: 0;
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  left: 0;
  background-color: #36325d;
}
.footer .row > .col-sm-4 {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 100px !important;
  }
  .footer .rated-on {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
}

footer {
  position: relative;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 13px;
}
footer * {
  position: relative;
}
.title {
  margin-top: 15px;
  display: block;
}
footer ul {
  margin-top: 25px;
  list-style-type: none;
  padding: 0 10px 0 0;
}
footer ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  margin-bottom: 3px;
  opacity: 0.6;
}
footer ul li:hover {
  opacity: 1;
}
footer ul a,
footer ul a:focus,
footer ul a:hover {
  color: inherit;
}
.media-image {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 8px;
}
footer .sub-title {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #f4f4f4;
  margin: 20px 0;
}
.Group-32 {
  width: 181px;
  height: 44px;
  object-fit: contain;
}
#myNavmenu .Group-32 {
  margin-top: 21px;
}
footer hr {
  height: 1px;
  border-color: #f4f4f4;
  margin-top: 30px !important;
  margin-bottom: 31px !important;
}
.Group-2 {
  width: 142px;
  height: 39px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.copyright {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #f4f4f4;
  opacity: 0.6;
}
.copyright-info {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  opacity: 0.6;
  margin-top: 6px;
}

/**
 * Text pages
 */
.textpage .container.top-navigation,
.textpage .container.footer,
.textpage .container.footer .container {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.42857143;
}
.textpage .container {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
  line-height: 1.44;
}
.textpage .navbar {
  height: 124px;
  border-bottom: solid 1px #3c30e7;
  border-radius: 0;
  padding: 38px 0px;
  color: #3c30e7;
}
.textpage .top-links-left > a,
.textpage .top-links-left > span,
.textpage .navbar .telephone a {
  color: #3c30e7;
}
.textpage .btn-default {
  background: initial;
  color: #3c30e7;
  border-color: #3c30e7;
}
.textpage .btn-default.active.focus,
.textpage .btn-default.active:focus,
.textpage .btn-default.active:hover,
.textpage .btn-default:active.focus,
.textpage .btn-default:active:focus,
.textpage .btn-default:active:hover,
.textpage .open > .dropdown-toggle.btn-default.focus,
.textpage .open > .dropdown-toggle.btn-default:focus,
.textpage .open > .dropdown-toggle.btn-default:hover,
.textpage .btn-default:focus,
.textpage .btn-default:hover {
  background: #3c30e7;
  color: #f4f4f4;
  border-color: #3c30e7;
}
.without-svg-fix {
  padding-top: 22px;
}

.textpage .text {
  background-color: #f5f7f9;
  border: solid 1px #d1dae3;
  padding: 33px 85px 46px;
  margin-top: 52px;
}
.textpage h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  line-height: 2.33;
  letter-spacing: 0.9px;
  text-align: center;
  color: #3c30e7;
  margin: 0;
  margin-top: 51px;
  padding: 0;
}
.textpage p {
  margin-bottom: 30px;
}
.textpage hr {
  border-top: solid 1px #d1dae3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.videoClose {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 100;
  cursor: pointer;
  display: none;
}
.OkGroup {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 63px;
  margin-bottom: 81px;
}
/**
* Job page
*/
.textpage.jobpage h1 {
  line-height: 1.25;
  letter-spacing: 1.1px;
  margin-top: 89px;
}
.textpage.jobpage h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-transform: none;
  text-align: center;
  margin-top: 0px;
  color: #3c30e7;
}
.textpage.jobpage h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.56;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 37px;
}
.textpage.jobpage h2:after {
  display: none;
}
.textpage.jobpage p,
.textpage.jobpage li {
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.6px;
}
.job-apply-btn {
  width: 311px;
  margin: 0 auto;
  display: block;
  margin-top: 97px;
  margin-bottom: 62px;
}
#job-back-top-btn {
  font-size: 16px;
  line-height: 2.13;
  letter-spacing: 0.6px;
  color: #3c30e7;
  display: block;
  margin-top: 5px;
}
#job-back-bottom-btn {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.13;
  letter-spacing: 0.6px;
  color: #3c30e7;
  margin-top: 64px;
  display: block;
}
.footer.jobpage {
  margin-top: 86px;
}
div.jobs-container {
  margin-top: 0px;
  margin-bottom: 0px;
}
.Arrow-Shape {
  width: 13.3px;
  height: 24px;
  object-fit: contain;
  margin-right: 37px;
}
/**
* FAQ
*/
#h2-faq {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0.9px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 22px;
  padding: 0 5px;
  padding-bottom: 29px;
}
p.p-faq {
  max-width: 648px;
  margin-top: 43px;
  line-height: 1.56;
  text-align: center;
  margin-bottom: 30px;
}
div.faq {
  margin-top: 0px;
  margin-bottom: 0px;
}
.faq-section h2 {
  font-size: 18px;
  line-height: 1.44;
  text-transform: none;
  margin-bottom: 12px;
  font-weight: normal;
}
.faq-section h2::after {
  display: none;
}

.faq-section hr {
  width: 121px;
  margin: 0 auto;
}
.faq-section p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-top: 14px;
}
.faq-group-4,
.faq-group-7 {
  width: 39px;
  height: 39px;
  object-fit: contain;
  margin-top: 25px;
}
.faq-group-5 {
  width: 43px;
  height: 42px;
  object-fit: contain;
  margin-top: 26px;
}
.faq-list {
  margin: 0 auto;
  margin-top: 120px;
  max-width: 800px;
}
.faq-headline {
  margin-top: 70px;
}
.faq-title:hover,
.faq-title:focus,
.faq-title:active
{
  text-decoration: none;
}
.faq-title h3 {
  color: #3c30e7;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding: 10px 0;
}
.faq-question {
  text-align: left;
  background-color: #f5f7f9;
  box-shadow: 0 2px 4px 0 #c5c5c5;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.faq-answer {
  font-size: 16px;
  line-height: 25px;
  margin-top: 10px;
}
.faq-answer p {

  padding: 0;
  margin-bottom: 8px;
}

h2.margintop23 {
  margin-top: 23px;
}
h2.margintop20 {
  margin-top: 20px;
}
.mt-15px {
  margin-top: -15px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Form validation partner.html */
#partnerform .form-control.error {
  border-color: #e73030;
}

#partnerform label.error {
  padding-top: 5px;
  color: #e73030;
}

