.profile-box {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    /* width: auto; */
}
.h2-tag{
    text-align: center;
}

.p-tag{
    margin: 5px;
}

.vertical-center {
    margin: 0;
    /* position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn{
    background-color: #3c30e7;
    color: #FFFFFF;
    border: none;
    width: 150px;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

.plan-btn{
    background-color: #e7ca15;
    color: #3c30e7;
    border: none;
    width: 150px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

.delete-btn{
    background-color: #bd3f36;
    color: #FFFFFF;
    border: none;
    width: 150px;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
}

.address-btn{
    background-color: #FFFFFF;
    color: #3c30e7;
    border: none;
    width: 150px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

@media screen and (max-width: 375px){
    .vertical-center {
        margin: 0;
        position: relative;
        top: 50%;
        left: 10%;
        /* -ms-transform: translateY(50%);
        transform: translateY(50%); */
    }
    .edit-btn{
        background-color: #3c30e7;
        color: #FFFFFF;
        border: none;
    }
    
    .delete-btn{
        background-color: #bd3f36;
        color: #FFFFFF;
        border: none;
    }    
}

.input-width{
    width: 100%;
}

.profile-border{
    border: 2px solid black;
}